* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-content: space-between;
  justify-content: flex-start;
}

ul,
li {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.header,
.footer {
  width: 100%;
}

.header {
  height: 72px;
  font-size: 32px;
  font-weight: 900;
  line-height: 1.25;
  padding: 16px;
  background: darkmagenta;
  color: white;
}

.footer {
  height: 72px;
  font-size: 16px;
  line-height: 1.5;
  padding: 24px 16px;
  text-align: center;
  background: #eee;
  color: darkmagenta;
}

.content {
  flex: 1 1 0%;
  display: flex;
}

.sidebar {
  width: 300px;
  background: royalblue;
  flex: 0 0 300px;
  padding: 8px 16px;
}
.sidebar a {
  display: block;
  padding: 8px 0;
  font-size: 24px;
  line-height: 1.25;
  color: white;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: flex-start;
  gap: 32px;
  padding: 48px;
}

.card {
  border: 1px solid #eee;
  box-shadow: 2px 4px 16px rgba(0,0,0,.06);
  border-radius: 4px;
  padding: 16px;
  flex: 1 0 300px;
}